<% provide(:title, 'Create Meeting') %>
<h1>Create meeting</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for([@committee, @meeting]) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @meeting} %>

      <%= f.label :date %>
      <%= f.date_select :date %>

      <% @rooms.each do |room| %>
        <%= f.radio_button :room_id, room.id %> <%= room.name %><br />
      <% end %>

<%#      <%= f.fields_for :committee_meetings do |ff| %>
<%#        <%= ff.label :committee_id %>
<%#        <%= ff.text_field :committee_id %>
<%#      <% end %>

<%# This version creates a parameters array with errors. %>
<%#      <% @committees.each_with_index do |committee,idx| %>
<%#         <%= check_box_tag( "meeting[committee_meetings_attributes][#{idx}][committee_id]",committee.id) %>
<%#         <%= committee.name %>
<%#         <br/>
<%#       <% end %>


      <%= f.submit "Create meeting", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

