<% provide(:title, 'Create Meeting') %>
<h1>Create meeting</h1>

<div class="row">
  <div class="span6 offset3">

      <%= form_for([@meeting]) do |f| %>
      <%= render :partial => 'shared/error_messages', :locals => {:object => @meeting} %>

        <div class="test">
          <%= f.label :date %>
          <%= f.date_select :date, {:order => [:year, :month, :day]}, {:class => "date-select"}  %>
        </div>

        <% @rooms.each do |room| %>
          <%= f.radio_button :room_id, room.id %> <%= room.name %><br />
        <% end %>

<%#      <%= f.fields_for :committee_meetings do |ff| %>
<%#        <%= ff.label :committee_id %>
<%#        <%= ff.text_field :committee_id %>
<%#      <% end %>

<%# This version creates a parameters array with errors. %>
<%#      <% @committees.each_with_index do |committee,idx| %>
<%#         <%= check_box_tag( "meeting[committee_meetings_attributes][#{idx}][committee_id]",committee.id) %>
<%#         <%= committee.name %>
<%#         <br/>
<%#       <% end %>
        <span>Select a committee or committees for the meeting.</span><br/>
        <% for committee in @committees.each %>
          <% if @committee && (committee.id == @committee.id) %>
            <%= hidden_field_tag( "[has_committee]", @committee.id) %>
            <%= hidden_field_tag( "[committee_meetings_attributes][]", committee.id) %>
            <%= check_box_tag( "[committee_meetings_attributes][]", committee.id, true, :disabled => true) %> 
            <%= committee.name %>
          <% else %>
            <%= check_box_tag( "[committee_meetings_attributes][]", committee.id) %>
            <%= committee.name %>
          <% end %>
          <br/>
        <% end %>
         <%= f.submit "Create meeting", class: "btn btn-large btn-primary" %>
       <% end %>
  </div>
</div>
