<% provide(:title, 'Create site') %>
<h1>Create meeting</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@meeting) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @meeting} %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <% @rooms.each do |room| %>
        <%= f.radio_button :room_id, room.id %> <%= room.name %><br />
      <% end %>

        <%= f.fields_for :committee_meetings do |builder| %>
          <% committee = Committee.find(builder.object.committee_id) %>
          <li><%= builder.check_box :committee_id, { :checked => false }, builder.object.committee_id %>
          <%= builder.label :committee_id, "#{committee.name}" %>
          </li>
        <% end %>

      <%= f.submit "Create meeting", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

