<% provide(:title, @meeting.date) %>
<span class ="title"> <%= link_to "Back to meeting page", meeting_path(@meeting) %></span></br></br>
<div class ="title" style="text-align:center;font-weight:bold; padding-bottom:20px;">
	<div>City of Newton</div>
<div class ="title">In Board of Alderman</div>
<div><%= @meeting.committee_names_string %> Report </div>
<div><%= @meeting.date.strftime("%A, %B %-d, %Y") %></div>
</div>
<div><%= @meeting.attendance_text.text %></div>
<div><%= render :partial => 'aktions/aktion' %></div>
