<% provide(:title, @meeting.date) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @meeting.date.strftime("%m/%d/%y") %>
      </h1>
      <% if @committees %>
        <% @committees.each do |committee| %>
          <li>
             <span class="content"><%= link_to committee.name, committee_path(committee) %><%# | 
<%#               <%= link_to "Remove", destroy_meeting_committee_path(@meeting, committee) %>	
             </span>
          </li>
        <% end %>
      <% end %>         
      <span><%= link_to @site.name, site_path(@site) %></span>
      <span><%= @site.address1 %></span>
      <% if @site.address2? %>
         <span>test<%= @site.address2 %></span></br>
      <% end %>
      <span><%= @site.city %>, <%= @site.state %> <%=@site.postal %></span>
      <span><%= @room.name %></span>
      <span><%= @room.floor %></span>
      <span class="timestamp">Created by <%= @meeting.creator.name %> on <%= @meeting.created_at.strftime("%m/%d/%y") %></span>
      <span class="timestamp">Last updated by <%= @meeting.updater.name %> on <%= @meeting.updated_at.strftime("%m/%d/%y") %></span>         
      <span> <%= link_to "Edit", edit_meeting_path(@meeting)%></span>
    </section>
  </aside>
  <div class="span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#items" data-toggle="tab">Items&nbsp;(<%= @meeting.item_meetings.count %>)</a></li>
      <li><a href="#documents" data-toggle="tab">Documents</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="items">
        <% if @meeting.items.any? %>
          <ol class="microposts">
            <%= render @itemmeetings %>
          </ol>
        <% else %>
          <ol class="microposts">
          <li>
            There are no items on the docket. Navigate to an item to add it to this docket.
          </li>
        </ol>    
      <% end %> 
     </div>
     <div class="tab-pane" id="documents"> 
       <ol class="microposts">
          <% if @parent.documents.any? %>
            <%= render @documents %>
            <span class="content"><%= link_to "Upload a document", polymorphic_path([@parent, :document], :action => :new) %>.</span>
          <% else %>
            <li>
              <span class="content">There are no documents associated with this <%= @parent.class.name.downcase %>. 
                          <%= link_to "Upload a document", 
                          polymorphic_path([@parent, :document], :action => :new)   %>.
              </span>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
<script>  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>

