<% provide(:title, @meeting.name + " Meeting") %>
<div class="row">
  <aside class="span4">
  <section>
  <h1>
    Meeting: <%= @meeting.date.strftime("%m/%d/%y") %>
  </h1>
  <% if @meeting.committees %>
    <% @meeting.committees.each do |committee| %>
      <div class="content"><%= link_to committee.name, committee_path(committee) %><%# | 
        <%#               <%= link_to "Remove", destroy_meeting_committee_path(@meeting, committee) %>	
      </div>
    <% end %>
  <% end %>         
  <span><%= @meeting.time.strftime("%l:%M %p") %> </span>
  <span><%= @meeting.room.name %> (<%= @meeting.room.floor %>)</span>
  <span><%= link_to @meeting.site.name, site_path(@meeting.site) %></span>
  <span><%= @meeting.site.address1 %></span>
  <% if @meeting.site.address2? %>
    <span>test<%= @meeting.site.address2 %></span></br>
  <% end %>
  <span><%= @meeting.site.city %>, <%= @meeting.site.state %> <%=@meeting.site.postal %></span>
  <span class="timestamp">Created by <%= @meeting.creator.name %> on <%= @meeting.created_at.strftime("%m/%d/%y") %></span>
  <span class="timestamp">Last updated by <%= @meeting.updater.name %> on <%= @meeting.updated_at.strftime("%m/%d/%y") %></span>         
  <% if current_user && current_user.admin? %>
    <span> <%= link_to "Edit", edit_meeting_path(@meeting)%></span>
  <% end %>
  </section>
  </aside>
  <div class="span8">
    <ul class="nav nav-tabs">
     <% if @meeting.date < Date.today %>
      <li class="active"><a href="#actions" data-toggle="tab">Report</a></li>
      <li><a href="#items" data-toggle="tab">Agenda&nbsp;(<%= @meeting.items.count %> items)</a></li>
     <% else %>
       <li class="active"><a href="#items" data-toggle="tab">Agenda&nbsp;(<%= @meeting.item_meetings.count %> items)</a></li>
      <% end %>
       <li><a href="#documents" data-toggle="tab">Documents&nbsp;(<%= @meeting.attachments.count %>)</a></li>
      <li><a href="#activities" data-toggle="tab">Activities</a></li>
    </ul>
    <div class="tab-content">
     <% if @meeting.date < Date.today %>
       <div class="tab-pane" id="items">
     <% else %>
       <div class="tab-pane active" id="items">
     <% end %>
          <div>
            <%= link_to "Print agenda", meeting_agenda_path(@meeting) %>
        <% if current_user && current_user.admin? %>

            | <%= link_to "Add an item to meeting", new_meeting_item_meeting_path(@meeting)%> | 
            <%= link_to "Create agenda text", new_meeting_meeting_text_path(@meeting, :kind => 'Agenda') %> |
            <%= link_to "Submit agenda", new_meeting_meeting_text_path(@meeting) %>
        <% end %>
          </div>
        <% if @meeting.item_meetings.any? %>
          <ol id="item_meetings" class="microposts">
            <%= render @meeting.item_meetings.order('position ASC') %>
          </ol>
        <% else %>
          <ol class="microposts">
            <li>
              <% if current_user && current_user.admin? %>
                <span class="content">There are no items on the meeting agenda. Navigate to an item to add it to this meeting.</span>
              <% else %>
                <span class="content">There are no items on the meeting agenda.</span>
              <% end %>
            </li>
          </ol>    
        <% end %> 
      </div>
     <% if @meeting.date < Date.today %>
       <div class="tab-pane active" id="actions">
     <% else %>
       <div class="tab-pane" id="actions">
     <% end %>
          <div>
            <%= link_to "Print report", meeting_report_path(@meeting) %>
        <% if current_user && current_user.admin? %>
           <% if !@meeting.attendance_text %>
             | <%= link_to "Add attendance", new_meeting_attendance_text_path(@meeting)%>
           <% else %>
             | <%= link_to "Edit attendance", edit_meeting_attendance_text_path(@meeting, @meeting.attendance_text)%>
           <% end %>
             | <%= link_to "Create report text", new_meeting_meeting_text_path(@meeting, :kind => 'Report') %>
             | <%= link_to "Submit report", new_meeting_meeting_text_path(@meeting) %>
        <% end %>
      </div>
        <% if @meeting.action_meetings.any? %>
          <ol id="action_meetings" class="microposts">
            <%= render @meeting.action_meetings.order('position ASC') %>
          </ol>            
        <% end %>
        <% if @meeting.items_without_actions.any? %>
          <div>The following item(s) on the agenda have no actions reported:</div>
          <% for item in @meeting.items_without_actions %>
            <div><%= link_to "#"+ item.name, item_path(item.id) %>
              <% if current_user && current_user.admin? %>
	         &nbsp;|&nbsp;<%= link_to "Add an action", 
		     new_meeting_aktion_path(@meeting)+"?agendable_type=item&agendable_id="+item.id.to_s %>
              <% end %>
            </div>
          <% end %>
        <% end %> 
      </div>
      <div class="tab-pane" id="documents"> 
        <ol class="microposts">
          <% if @parent.documents.any? %>
            <%= render @meeting.documents %>
            <% if current_user && current_user.admin? %>
              <span class="content"><%= link_to "Upload a document", polymorphic_path([@parent, :document], :action => :new) %>.</span>
            <% end %>
          <% else %>
            <li>
            <span class="content">There are no documents associated with this <%= @parent.class.name.downcase %>. 
              <% if current_user && current_user.admin? %>
                <%= link_to "Upload a document", 
                  polymorphic_path([@parent, :document], :action => :new)   %>.
                <% end %>
              </span>
              </li>
            <% end %>
          </ol>
        </div>

        <div class="tab-pane" id="activities">
          <% if @meeting.activities.any? %>
            <ol class="microposts">
              <%= render @meeting.activities %>
            </ol>
          <% else %>
            Reserved for actions
          <% end %>
        </div>


      </div>
    </div>
  </div>
  <script>  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>
<script type="text/javascript">
  $(function() {
      $("#item_meetings").sortable({items:'.item_meeting', handle:'.handle', axis:'y', cursor: 'move', update: function(){
        $.get('/item_meetings/reorder?meeting='+<%= @meeting.id %>, $(this).sortable('serialize'));
        }});
      });
  $(function() {
      $("#action_meetings").sortable({items:'.action_meeting', handle:'.handle2', axis:'y', cursor: 'move', update: function(){
        $.get('/action_meetings/reorder?meeting='+<%= @meeting.id %>, $(this).sortable('serialize'));
        }});
      });

$('.toggle').click(function() {
  var content = $(this).next();
  $(content).toggle();
  $(content).next().toggle(); 
  return false;
});</script>
