<li>
  <span class="content">
    <%= link_to docket.item.name, item_path(docket.item.id) %>
    <% if current_user && current_user.admin? %>
      &nbsp;|&nbsp;<%= link_to "Remove", [docket.item, docket], method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: "Title" %>
    <% end %>
  </span>
      <span class="content"><%= docket.item.requested_by %></span>
      <span class="content"><%= docket.item.request %></span>
      <span class="content"><%= docket.item.address %></span>
  
<span class="timestamp">
    <%= docket.created_at.strftime("Added %m/%d/%y") %>
  </span>
</li>
