<% provide(:title, 'Assign item to docket') %>
<h1>Assign item to a committee docket</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for ([@item, @docket]) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @docket} %>

      <% @committees_eligible.each do |committee| %>
        <% if @item.ondocket?(committee) %>
          <%= f.radio_button :committee_id, committee.id, :disabled => true %> <%= committee.name %> (already assigned)<br />
	<% else %>
          <%= f.radio_button :committee_id, committee.id %> <%= committee.name %><br />
        <% end %>
      <% end %>

      <%= f.label :note %>
      <%= f.text_field :note %>

      <%= f.label :as_of %>
      <%= f.text_field :as_of, :value => Date.today, class: "date-picker" %>

      <%= f.label :assigner_id %>
      <%= f.collection_select(:assigner_id, Person.all, :id, :name) %>

<%#      <%= date_select :as_of, {:order => [:year, :month, :day]},  {:class => "date-select"}   %>

      <%= f.submit "Assign", class: "btn btn-large btn-primary" %> <%= link_to "Cancel", @item %>
    <% end %>
  </div>
</div>

