<% provide(:title, 'Upload Document') %>
<h1>Upload document</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for([@parent, @document]) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @document} %>
	
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :URL %>
      <%= f.text_field :URL %>

      <%= f.label :submitted_on %>
      <%= f.date_select :submitted_on, {:order => [:year, :month, :day]}, {:class => "date-select"}  %>

      <%= f.label :submitted_by %>
      <%= f.text_field :submitted_by %>
            
      <%= f.label :doc_type %>
      <%= f.text_field :doc_type %>

      <%= f.label :description %>
      <%= f.text_area :description, :size => "60x12" %>

<%#      <% @items.each_with_index do |item,idx| %>
<%#         <%= check_box_tag( "document[attachments_attributes][#{idx}][owner_id]",item.id) %>
<%#         <%= item.name %>
<%#         <br/>
<%#       <% end %>
      <% if @item_meetings %>
        <% for item_meeting in @item_meetings.all %>
          <% if item_meeting.agendable_type = "Item" %>
          <%= check_box_tag( "[item_attachments_attributes][]", item_meeting.agendable_id) %>
          <%= item_meeting.agendable.name %>
          <br/>
        <% end %>
       <% end %>
     <% end %>

      <%= f.submit "Upload document", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

