<% meeting = item_meeting.meeting %>
<% if @parent == "agenda" %>
  <% if item_meeting.agendable_type == "Item" %>
    <div style="float:left; width:800px;padding-bottom:10px;">
    <div class="item_meeting" id="item_meetings_<%= item_meeting.id %>" style="float:left; width:100px;"> 
      <%= link_to item_meeting.agendable.name, item_path(item_meeting.agendable_id) %>
    </div>
    <div  style="float:left; width:700px;">
    <div class="content"><%= item_meeting.agendable.requested_by %></div>
    <div class="content"><%= item_meeting.agendable.address %></div>
    <div class="content"><%= item_meeting.agendable.request %></div>
  </div>
</div>
<% else %>
    <div  style="float:left; width:800px;padding-bottom:10px;">
    <%= item_meeting.agendable.text %></div>
  </div>
<% end %>
<% else %>
  <% if item_meeting.agendable_type == "Item" %>
  <li class="item_meeting" id="item_meetings_<%= item_meeting.id %>">
    <div class="content">
      <% if current_user && current_user.admin? %>
        <span class="handle" style="color: green;cursor:move;">[drag]</span>
      <% end %>
      <%= link_to item_meeting.agendable.name, item_path(item_meeting.agendable_id) %>
      <% if current_user && current_user.admin? %>
        &nbsp;|&nbsp;<%= link_to "Remove from meeting", [meeting, item_meeting], method: :delete,
          data: { confirm: "You sure?" },
          title: "Title" %>
      <% end %>
    </div>
    <div class="content"><%= item_meeting.agendable.requested_by %></div>
    <div class="content"><%= item_meeting.agendable.address %></div>
    <% if item_meeting.agendable.request.size > 250 %>
      <a class="toggle" href="javascript:void(0);">Expand/collapse</a>
      <div class="content"><%= item_meeting.agendable.request[0..200] %>...</div>
      <div class="contentfull" style="display:none"><%= item_meeting.agendable.request %></div>
    <% else %>
      <div class="content"><%= item_meeting.agendable.request %></div>
    <% end %>
    <div class="timestamp">
      <%= item_meeting.created_at.strftime("Added %m/%d/%y") %>
    </div>
  </li>
<% else %>
  <li class="item_meeting" id="item_meetings_<%= item_meeting.id %>">
    <div class="content">
      <% if current_user && current_user.admin? %>
        <div class="handle" style="color: green;cursor:move;">[drag]</div>
      <% end %>
      <%= item_meeting.agendable.text %>      
      <% if current_user && current_user.admin? %>
        &nbsp;|&nbsp;<%= link_to "Remove from meeting", [meeting, item_meeting], method: :delete,
          data: { confirm: "You sure?" },
          title: "Title" %>
        <% end %>
      </div>
  </li>
<% end %>
<% end %>
