<% provide(:title, 'Put item on meeting') %>
<h1>Put item on meeting</h1>
<div class="row">
  <div class="span6 offset3">
    <% if @agendable %>
    <%= form_for ([@agendable, @item_meeting]) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @item_meeting} %>
    <%= f.hidden_field 'agendable_type', :value => @agendable.class.name %>
    <%= f.hidden_field 'agendable_id', :value => @agendable.id %>
      <% @potential_meetings.each do |meeting| %>
        <%= f.radio_button :meeting_id, meeting.id %> <%=  meeting.name_date_string %><br />     
        <% if meeting.public_hearing && @agendable.requires_public_hearing %>
          &nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :public_hearing %> Public hearing
        <% end %> 
      <% end %>
    <%= f.label :assigner_id %>
    <%= f.collection_select(:assigner_id, @assigners, :id, :name) %>

      <%= f.submit "Add item to meeting", class: "btn btn-large btn-primary" %>
    <% end %>
  <% elsif @meeting %>
    <span content="class">Add an item to <%= @meeting.name %> <%= @meeting.committee_names_string %> meeting.</span>
    <%= form_for ([@meeting, @item_meeting]) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @item_meeting} %>
      <%= f.hidden_field 'agendable_type', :value => "Item" %>
      <%= f.hidden_field 'meeting_id', :value => @meeting.id %>
      <% @potential_items.each do |item| %>
        <%= f.radio_button :agendable_id, item.id %> <%= item.name %><br />
      
      <% end %>
      <% if @meeting.public_hearing %>
        <%= f.check_box :public_hearing %> Public hearing (Will not apply if item does not require a public hearing)
      <% end %>
        <%= f.label :assigner_id %>
        <%= f.collection_select(:assigner_id, @assigners, :id, :name) %>
      <%= f.submit "Add item to meeting", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  </div>
</div>

