<% provide(:title, @committee.name) %>
<div class="row">
  <aside class="span4"
    <section>
      <h1>
        <%= @committee.name %>
      </h1>
      <span><%= @committee.description %></span></br>
      <span class="timestamp">Created by <%= @committee.creator.name %> on <%= @committee.created_at.strftime("%m/%d/%y") %></span></br>
      <span class="timestamp">Last updated by <%= @committee.updater.name %> on <%= @committee.updated_at.strftime("%m/%d/%y") %></span>
    </section>
  </aside>
  <div class="span8">
    <% if @committee.dockets.any? %>
      <h3>Items on committee docket (<%= @committee.dockets.count %>)</h3>
      <ol class="microposts">
        <%= render @dockets %>
      </ol>
    <% else %>
      <h3>Items on committee docket</h3>
      <ol class="microposts">
        <li>
          There are no items on the docket. Navigate to an item to add it to this docket.
        </li>
      </ol>    
    <% end %> 
    <% if @committee.meetings.any? %>
      <h3>Meetings</h3>
      <ol class="microposts">
        <%= render @meetings %>
      </ol>
    <% else %>
      <h3>Meetings</h3>
      <ol class="microposts">
        <li>
          There are no meetings scheduled for this committee.
        </li>
      </ol>    
    <% end %> 
 </div>
</div>

