<% provide(:title, @committee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @committee.name %>
      </h1>
      <span><%= @committee.description %></span>
      <span class="timestamp">Created by <%= @committee.creator.name %> on <%= @committee.created_at.strftime("%m/%d/%y") %></span>
      <span class="timestamp">Last updated by <%= @committee.updater.name %> on <%= @committee.updated_at.strftime("%m/%d/%y") %></span>
    </section>
  </aside>
  <div class="span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#meetings" data-toggle="tab">Meetings</a></li>
      <li><a href="#items" data-toggle="tab">Items&nbsp;(<%= @committee.dockets.count %>)</a></li>
      <li><a href="#activities" data-toggle="tab">Activities</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="meetings">
        <% if @committee.meetings.any? %>
          <ol class="microposts">
            <%= render @meetings %>
          </ol>
          <% if current_user && current_user.admin? %>
            <span class="content"><%= link_to "Create another meeting", new_committee_meeting_path(@committee)%>.</span>
          <% end %>
        <% else %>
          <ol class="microposts">
            <li>
              There are no meetings scheduled for this committee.
            </li>
          </ol>    
        <% end %> 
      </div>

      <div class="tab-pane" id="items">
        <% if @committee.dockets.any? %>
          <span class="content">Days on docket in parantheses.</span>
          <span class="content">Average days on docket for current items: <%= @agingaverage %></span>
          <ol class="microposts">
            <%= render @dockets %>
          </ol>
        <% else %>
          <ol class="microposts">
            <li>
              There are no items on the docket. Navigate to an item to add it to this docket.
            </li>
          </ol>    
        <% end %> 
      </div>
 
     <div class="tab-pane" id="activities">
         <% if @committee.activities.any? %>
           <ol class="microposts">
             <%= render @activities %>
           </ol>
         <% else %>
           Reserved for actions
         <% end %>
      </div>


    </div>

  </div>

</div>
<script>  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>

