<% provide(:title, 'Create docket item') %>
<h1>Create docket item</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item) do |f| %>
	           
      <%= f.label :name %>
      <%= f.text_field :name, :value => @conf.item_counter.to_s + "-13" %>

      <%= f.label :requested_by %>
      <%= f.text_field :requested_by %>

      <%= f.label :request %>
      <%= f.text_area :request, :size => "60x12" %>

      <%= f.label :address %>
      <%= f.text_area :address, :size => "60x2" %>

      <%= f.label :reference %>
      <%= f.text_area :reference, :size => "60x2" %>

      <%= f.check_box :draft %>
      <%= f.label :draft %>

      <%= f.label :ward %>
      <%= f.select(:ward, Person.all.map { |person| [person.name, person.id] }, { :prompt => "Please select"},
                                   { :multiple => true, :size => 5 }) %>

        <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="8" data-source='<%= @people.to_json %>'>  

      <%= label :status, :as_of %>
      <%= text_field :status, :as_of, :value => Date.today, class: "date-picker"    %>
 
      <%= f.submit "Create docket item", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<script>
$ ->
$(".date-picker").datepicker()
</script>
