<% provide(:title, 'Create docket item') %>
<h1>Create docket item</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item) do |f| %>
	
      <%= f.check_box :draft %>
      <%= f.label :draft %>

      <%= f.label :opened_on %>
      <%= f.date_select :opened_on, :order => [:year, :month, :day]   %>
            
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :requested_by %>
      <%= f.text_field :requested_by %>

      <%= f.label :request %>
      <%= f.text_area :request, :size => "60x12" %>

      <%= f.label :address %>
      <%= f.text_area :address, :size => "60x2" %>

      <%= f.label :reference %>
      <%= f.text_area :reference, :size => "60x2" %>

      <%= f.label :ward %>
      <%= f.text_field :ward %>

      <%= f.submit "Create docket item", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

