<% provide(:title, @item.number) %>
<div class="row">
  <aside class="span4"
    <section>
      <h1>
        <%= @item.number %>
      </h1>
      <span><%= @item.opened_on %></span></br>
      <span><%= @item.requested_by %></span></br>
      <span><%= @item.request %></span></br>
      <span><%= @item.reference %></span></br>
      <span><%= @item.address %></span></br>
      <span>Draft = <%= @item.draft %></span></br>
      <span>Ward =  <%= @item.ward %></span></br>
      <span>Precinct = <%= @item.precinct %></span></br>
      <span class="timestamp">Created by <%= @item.creator.name %> on <%= @item.created_at.strftime("%m/%d/%y") %></span></br>
      <span class="timestamp">Last updated by <%= @item.updater.name %> on <%= @item.updated_at.strftime("%m/%d/%y") %></span>
      <span> <%= link_to "Edit", edit_item_path(@item)%>.
   </section>
  </aside>
  <div class="span8">
      <h3>On dockets</h3>
        <ol class="microposts">
          <% if @item.dockets.any? %>
            <% @item.dockets.each do |docket| %>
              <li>
                <span class="content"><%= link_to docket.committee.name, committee_path(docket.committee_id) %>
                                  </span>
                <span class="timestamp">
                  Added to docket <%= docket.created_at.strftime("%m/%d/%y") %> | 
                                <%= link_to "Remove", [@item, docket], method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: "Title" %>

                </span>
              </li>
            <% end %>           
            <li>
              <% if @item.notdocketcommittees.count > 0 %>
                <span class="content"><%= link_to "Add to another docket", new_item_docket_path(@item)%>.</span>
              <% end %>
            </li>
          <% else %>
            <li>
                <span class="content">Not on any dockets. <%= link_to "Add to a docket", new_item_docket_path(@item)%>.
            </li>
          <% end %>
        </ol>
      <% if @item.meetings.any? %>
        <h3>Meetings</h3>
        <ol class="microposts">
          <%= render @meetings %>
        </ol>
      <% else %>
        <h3>Meetings</h3>
        <ol class="microposts">
          <li>
            <span class="content">Not on any meetings. <%= link_to "Add to a meeting", new_item_item_meeting_path(@item)%>.
          </li>
        </ol>    
      <% end %> 
      <h3>Actions</h3>
     Reserved for actions
      <h3>Documents</h3>
        <ol class="microposts">
          <% if @item.documents.any? %>
            <% @item.documents.each do |document| %>
              <li>
                <span class="content"><%= link_to document.name, document_path(document.id) %>
                                  </span>
                <span class="timestamp">
                  Document uploaded <%= document.created_at.strftime("%m/%d/%y") %> | 
                                <%= link_to "Remove", [@item, document], method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: "Title" %>

                </span>
              </li>
             <% end %>           
             <span class="content"><%= link_to "Upload a document", new_item_document_path(@item) %>.</span>
         <% else %>
            <li>
                <span class="content">Not on any dockets. <%= link_to "Upload a document", new_item_document_path(@item) %>.
            </li>
          <% end %>
        </ol>
   </div>
</div>


