<% provide(:title, 'Create site') %>
<h1>Create site</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@site) do |f| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @site} %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :floor %>
      <%= f.text_field :floor %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :postal %>
      <%= f.text_field :postal %>

      <%= f.label :geo %>
      <%= f.text_field :geo %>

      <%= f.submit "Create site", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

