<% provide(:title, @site.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @site.name %>
      </h1>
      <span><%= @site.address1 %></span>
      <% if @site.address2? %>
         <span>test<%= @site.address2 %></span></br>
      <% end %>
      <span><%= @site.city %>, <%= @site.state %> <%=@site.postal %></span></br>
      <span class="timestamp">Created by <%= @site.creator.name %> on <%= @site.created_at.strftime("%m/%d/%y") %></span></br>
      <span class="timestamp">Last updated by <%= @site.updater.name %> on <%= @site.updated_at.strftime("%m/%d/%y") %></span>
      <span> <%= link_to "Edit", edit_site_path(@site)%>.
    </section>
  </aside>
  <div class="span8">
      <h3>Rooms</h3>
        <ol class="microposts">
          <% if @site.rooms.any? %>
            <% @site.rooms.each do |room| %>
              <li>
                <span class="content"><%= room.name %> <%= room.id %></span></br>
                <span class="content"><%= room.floor%></span></br>
                <span class="content"><%= room.notes %></span></br>
                <span class="timestamp">
                  Created <%= room.created_at.strftime("%m/%d/%y") %>  | 
                   <%= link_to "Edit", edit_site_room_path(@site, room) %>

                </span>
              </li>
            <% end %>           
            <li>
              <span class="content"><%= link_to "Add another room", new_site_room_path(@site)%>.</span>
            </li>
          <% else %>
            <li>
                <span class="content">No rooms <%= link_to "Add another room", new_site_room_path(@site)%>.
            </li>
          <% end %>
        </ol>
  </div>
</div>
